@-webkit-keyframes highlight {
    from {
        background-color: yellow;
    }

    to {
        background-color: inherit;
    }
}

@-moz-keyframes highlight {
    from {
        background-color: yellow;
    }

    to {
        background-color: inherit;
    }
}

@-o-keyframes highlight {
    from {
        background-color: yellow;
    }

    to {
        background-color: inherit;
    }
}

@keyframes highlight {
    from {
        background-color: yellow;
    }

    to {
        background-color: inherit;
    }
}

.highlight {
    -webkit-animation: highlight 1s 10 alternate-reverse;
    /* Safari 4+ */
    -moz-animation: highlight 1s 10 alternate-reverse;
    /* Fx 5+ */
    -o-animation: highlight 1s 10 alternate-reverse;
    /* Opera 12+ */
    animation: highlight 1s 10 alternate-reverse;
    /* IE 10+ */
    margin-left: 5px;
    float: right;
}
