@-webkit-keyframes highlight {
    from {
        background-color: inherit;
    }

    to {
        background-color: yellow;
    }
}

@-moz-keyframes highlight {
    from {
        background-color: inherit;
    }

    to {
        background-color: yellow;
    }
}

@-o-keyframes highlight {
    from {
        background-color: inherit;
    }

    to {
        background-color: yellow;
    }
}

@keyframes highlight {
    from {
        background-color: inherit;
    }

    to {
        background-color: yellow;
    }
}

.highlight {
    -webkit-animation: highlight 1s 10 alternate-reverse forwards;
    /* Safari 4+ */
    -moz-animation: highlight 1s 10 alternate-reverse forwards;
    /* Fx 5+ */
    -o-animation: highlight 1s 10 alternate-reverse forwards;
    /* Opera 12+ */
    animation: highlight 1s 10 alternate-reverse forwards;
    /* IE 10+ */
    margin-left: 5px;
    margin-bottom: 0%;
    float: right;
}

.blink {
    -webkit-animation: highlight 1s infinite alternate-reverse;
    /* Safari 4+ */
    -moz-animation: highlight 1s infinite alternate-reverse;
    /* Fx 5+ */
    -o-animation: highlight 1s infinite alternate-reverse;
    /* Opera 12+ */
    animation: highlight 1s infinite alternate-reverse;
    /* IE 10+ */
    margin: 15px 0;
}



@-webkit-keyframes highlightDeals {
    from {
        background-color: inherit;
    }

    to {
        background-color: lightgreen;
    }
}

@-moz-keyframes highlightDeals {
    from {
        background-color: inherit;
    }

    to {
        background-color: lightgreen;
    }
}

@-o-keyframes highlightDeals {
    from {
        background-color: inherit;
    }

    to {
        background-color: lightgreen;
    }
}

@keyframes highlightDeals {
    from {
        background-color: inherit;
    }

    to {
        background-color: lightgreen;
    }
}

.highlightDeals {
    -webkit-animation: highlightDeals 1s 10 alternate-reverse forwards;
    /* Safari 4+ */
    -moz-animation: highlightDeals 1s 10 alternate-reverse forwards;
    /* Fx 5+ */
    -o-animation: highlightDeals 1s 10 alternate-reverse forwards;
    /* Opera 12+ */
    animation: highlightDeals 1s 10 alternate-reverse forwards;
    /* IE 10+ */
    margin-left: 5px;
    margin-bottom: 0%;
    float: right;
}